node_modules

# Ignore all .dll files
*.dll
*.cache

# development machine specific files
appsettings.Development.json

# build results
[Dd]ebug/
[Dd]ebugPublic/
[Oo]bj/
.vs/
backend/obj/Debug/net9.0/backend.GeneratedMSBuildEditorConfig.editorconfig
backend/obj/Debug/net9.0/backend.GlobalUsings.g.cs
